extends ../config/_layout.pug
append headVariables
  -
    title = "Contáctanos"

block main
  include ../includes/_banner.pug

  main.contact-section
    div
      h2 Detalles de contacto
      p Reinan Ivan Pumaricra Segura
      p: i - Gerente de IvanMotor
      ul.contact-list
        li
          +svg-icon(3)
          a(href="tel:+51950900590") (+51) 950 900 590
        li
          +svg-icon(5)
          a(href="mailto:contacto@ivanmotor.com") contacto@ivanmotor.com
        li
          +svg-icon(4)
          a(href="mailto:pumaricrareinan@gmail.com") pumaricrareinan@gmail.com
      h3 Horario de atención
      p Lunes a sábado: de 8:00am a 6:00pm
      h3 Ubicación
      a(href="ubicacion.html").location.btn.ghost Ver mapa



    div
      h2 Formulario de contacto
      p: i Todos los campos son obligatorios
      
      form.contact-form
        p: label(for="name-input") Nombres
        input#name-input(
          type="text",
          placeholder="Ruy López",
          autocomplete="off"
        )
        p: label(for="mail-input") Correo electrónico
        input#mail-input(
          type="text",
          placeholder="someone@example.com",
          autocomplete="email"
        )
        p: label(for="message-input") Mensaje
        textarea#message-input()
        button.btn Enviar