//- Screen: {
//-   img,
//-   title,
//-   desc,
//- }
mixin slider(screens)
  .slider-container.no-js
    .screens-container
      each screen, i in screens
        -
          const {styles, title, desc, img} = screen
          let inlineStyle = ""
          for (const key in styles) inlineStyle += `${key}:${styles[key]};`
          
        .slide(style=inlineStyle)
          if (img)
            img(src=img, alt="")
          h3= title
          if (desc)
            p= desc
    .controls
      button.prev
        +arrow-left("icon")
      button.next 
        +arrow-right("icon")
